main{
    width: 100%;
    height: 100vh;
    margin: 0;
    }

body {
    background: #FFF; 
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4em;
    font-weight: 700; 
    }

h1 { 
    font-family: 'Montserrat', sans-serif;
    font-size: 3em;
    font-weight: 700; 
    margin-left: .4em;
    }

    p{
        font-size: 1.5em;
        margin-left: 1em;
    }

h2 { 
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    font-weight: 700;
    margin: 1em 0 0; 
    }

#banner { 
    background: url(https://images.pexels.com/photos/5428003/pexels-photo-5428003.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940) no-repeat fixed 100% 100%; 
    background-size: cover; 
    color: #fff; 
    height: 100%; 
    width: 100%; 
    box-sizing: border-box;
    }

#bannertext { 
    width: 90vh; 
    position: absolute; 
    top: 30%; 
    left: 50%; 
    border: .5em solid #fff; 
    margin-left: -12em; 
    padding: 2em 0; 
    box-sizing: border-box;
    }

#content { 
    max-width: 100%; 
    text-align: justify; 
    margin-left: 10em; 
    padding: 2em; 
    }

#content p { 
    margin: 0 0 2em 0; 
    font-size: 1em;
    padding: 1em;
    }