*{
    padding: 0;
    margin: 0;
}

p{
    margin-bottom: 20px;
}
header{
    background-color: white;
    width: 10.7em;
    height: 100%;
    position: fixed;
    z-index: 1000;
    display: flex;
    flex-direction: row;
}


.container .logo{
    width: 100%;
    height: 25%;
}

.container .logo img{
    width: 120%;
    height: 120%;
    margin-left: -7vh;
    margin-top: -5vh;
    margin-bottom: -4vh;
    }


nav{
    float: left; 
}

nav ul{
    list-style: none;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

nav ul li{
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    z-index: 9999;
}

nav ul li a{
    display: block;
    padding: 20px;
    color: rgb(12, 12, 12);
    text-decoration: none;
    z-index: 998;
}

nav ul li a:hover{
    color: rgb(127, 131, 130);
}

.inf_contacto{
    width: 100%;
    height: 25%;
}

.inf_contacto .text p{
    margin: auto;
    padding: 15px;
    text-align: center;
    font-size: .6rem;
    font-family: 'DM Sans', sans-serif;
}

.inf_contacto .social{
    font-size: 4vh;
    text-align: center;
}

.inf_contacto .social a{
    padding: 5px;
    text-decoration: none;
    color: black;
}

/*--------inicio secccion media---------*/

.part_2{   
    width: 125vh;
    height: 18em;
    display: flex;
    margin: 0 auto;
}

.part_2 .part_2_1{
    margin-left: 2em;
    display: flex;
}

.part_2 .part_2_1 .text{
    font: 300 .8em/.8 "Droid Sans", sans-serif; 
    margin: 1em 2em;
}

.part_2 .part_2_1 .image{
    width: 85%;
}

.part_2 .part_2_1 .image img{
    width: 100%;
    border-radius: 50px;
    
}

.part_3{   
    width: 125vh;
    height: 18em;
    display: flex;
    margin-left: 9em;
}

.part_3 .part_3_1{
    margin-left: 2em;
    display: flex;
}

.part_3 .part_3_1 .text{
    font: 300 .8em/.8 "Droid Sans", sans-serif; 
    margin: 1em 2em;
}

.part_3 .part_3_1 .image{
    width: 85%;
}

.part_3 .part_3_1 .image img{
    width: 100%;
    border-radius: 50px;
    
}