*{
    padding: 0;
    margin: 0;
}

header{
    background-color: rgb(255, 255, 255);
    width: 15.7em;
    height: 100%;
    position: fixed;
    z-index: 1000;
    display: flex;
    flex-direction: row;
    margin-top: -2em;
}


.container .logo{
    width: 100%;
    height: 25%;
}

.container .logo img{
    width: 120%;
    height: 120%;
    margin-left: -7vh;
    margin-top: -5vh;
    margin-bottom: -4vh;
    }


nav{
    float: left; 
}

nav ul{
    list-style: none;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

nav ul li{
    float: left;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    z-index: 9999;
}

nav ul li a{
    display: block;
    padding: 25px;
    color: rgb(12, 12, 12);
    text-decoration: none;
    z-index: 998;
}

nav ul li a:hover{
    color: rgb(127, 131, 130);
}

.inf_contacto{
    width: 100%;
    height: 25%;
    margin-top: 1em;
}

.inf_contacto .text p{
    margin: auto;
    padding: 15px;
    text-align: center;
    font-size: .6rem;
    font-family: 'DM Sans', sans-serif;
}

.inf_contacto .social{
    font-size: 4vh;
    text-align: center;
}

.inf_contacto .social a{
    padding: 9px;
    text-decoration: none;
    color: black;
}

/*--------inicio SECCION MEDIA---------*/

main{
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
}
section{
    width: 90%;
    height: 100%;
}

section h2{
    width: 80%;
    text-align: center;
    margin-left: 3.5em;
    margin-top: 1em;
    font-size: 4rem;
    font-family: 'DM Sans', sans-serif;
}

section h2:hover{
    cursor: pointer;
    text-shadow: rgb(156, 147, 147) 5px 5px;
    transition: 0.5s;
}

section p{
    width: 80%;
    text-align: justify;
    margin-left: 9.5em;
    margin-top: 3em;
    font-size: 1.5rem;
    font-family: 'DM Sans', sans-serif;

}

.card{
    justify-content: space-evenly;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    display: grid;
    gap: 0 20px;
    margin-left: 15em;
    margin-top: 2em;
}

.card .card-item img{
    width: 18em;
    height: 100%;
    transition: 0.4s ease-in;
    border-radius: 10px;
}

.card-item:hover img{
    width: 100%;
    height: 200px;
}

/*--------fin SECCION MEDIA---------*/

/*--------inicio FOOTER---------*/
footer{
    width: 100%;
    height: 60vh;
    background-color: rgb(255, 255, 255);
}

.container__footer{
    width: 100%;
    height: 100%;
}

.container__footer .col30{
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
}

.container__footer .col30 form{
    margin: 0;
}

.container__footer .col30:nth-child(1){
    width: 50%;
    display: flex;
    flex-direction: column;
}

.container__footer .col_30:nth-child(1) form{
    width: 85vh;
    display: flex;
    flex-direction: column;
    margin-left: 6em;
}

.container__footer .col_30:nth-child(1) form label{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.9em;
    font-weight: 700;
    margin-bottom: 10px;
    margin-left: 18em;
    align-items: center;
    width: 100%;
}

.container__footer .col_30:nth-child(1) form input{
    border-radius: 7px;
    padding: 12px 0px;
    font-size: 1rem;
    width: 30em;
    margin-left: 29em;
}

.container__footer .col_30:nth-child(1) form button{
    width: 50%;
    padding: 7px 12px;
    margin-top: 20px;
    background-color: white;
    color: black;
    letter-spacing: 2px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    font-weight: 700;
    border-radius: 20px;
    margin-left: 35em;
}

.container__footer .col_30:nth-child(1) form button:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.24);

}

.container__footer .copy{
    width: 100%;
    display: flex;
    flex-direction: column;  
    margin: 1em 1em 0 0; 
}

.container__footer:nth-child(1) span{
    width: 100vh;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    font-weight: 700;
    margin-left: 35em;
}

/*--------FIN FOOTER---------*/